<h1 mat-dialog-title class="text-center">PREVIEW</h1>
<div mat-dialog-content class="text-center">
  <div class="container-fluid">
    <div class="row element__row">
      <div class="col-6 font-weight-bold text-left p-0">
        Name:
      </div>
      <div class="col-6 text-left">
        {{data.name}}
      </div>
    </div>
  </div>
  <div class="row element__row">
    <div class="col-6 font-weight-bold text-left">
      Trigger Name:
    </div>
    <div class="col-6 text-left">
      {{data.status}}
    </div>
  </div>
  <div class="row element__row">
    <div class="col-6 font-weight-bold text-left">
      Constraint Name:
    </div>
    <div class="col-6 text-left">
      {{data.modifyBy}}
    </div>
  </div>
  <div class="row element__row">
    <div class="col-6 font-weight-bold text-left">
      Effective Deadline Info:
    </div>
    <div class="col-6 text-left">
      {{data.modifyDate}}
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-raised-button color="warn" (click)="closeModal()">Close</button>
</div>

