<mat-card>
  <h2 class="m-2">Trigger and Constraint Schemes- New</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width d-block m-2" appearance="outline">
      <mat-label>Name *</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <div class="m-2">
      <mat-form-field class="d-block w-100">
        <mat-label>Trigger Name *</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let triggers of trigger" [value]="triggers.value">
            {{triggers.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <mat-card class="m-2">
      <p>Trigger Date Known</p>
      <mat-radio-group aria-label="Select an option" formControlName="triggerDateKnown">
        <mat-radio-button color="primary" class="m-2" value="Lawful">Lawful</mat-radio-button>
        <mat-radio-button color="primary" class="m-2" value="Service Category">Service Category</mat-radio-button>
        <mat-radio-button color="primary" class="m-2" value="Item">Item</mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <mat-card class="m-2">
      <section class="example-section">
        <mat-checkbox color="primary" class="example-margin" formControlName="isInterimTrigger">Is Interim Trigger?</mat-checkbox>
      </section>
      <mat-form-field class="d-block w-100">
        <mat-label>Interim Trigger Name</mat-label>
        <mat-select formControlName="interimTriggerName">
          <mat-option *ngFor="let triggers of trigger" [value]="triggers.value">
            {{triggers.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <div class="m-2">
      <mat-form-field class="d-block w-100">
        <mat-label>Constraint Name *</mat-label>
        <mat-select formControlName="modifyBy">
          <mat-option *ngFor="let triggers of trigger" [value]="triggers.value">
            {{triggers.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <mat-card class="m-2">
      <p>Constraint Value Known</p>
      <mat-radio-group aria-label="Select an option" formControlName="constraintValueKnown">
        <mat-radio-button color="primary" class="m-2" value="Lawful">Lawful</mat-radio-button>
        <mat-radio-button color="primary" class="m-2" value="Service Category">Service Category</mat-radio-button>
        <mat-radio-button color="primary" class="m-2" value="Item">Item</mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <div class="m-2">
      <mat-form-field class="d-block w-100">
        <mat-label>Effective Deadline Info *</mat-label>
        <mat-select formControlName="modifyDate">
          <mat-option *ngFor="let triggers of trigger" [value]="triggers.value">
            {{triggers.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="m-2">
      <mat-form-field class="d-block w-100">
        <mat-label>Related Processing Basis Referance Type</mat-label>
        <mat-select formControlName="relatedProcessingBasisReferenceType">
          <mat-option *ngFor="let triggers of trigger" [value]="triggers.value">
            {{triggers.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <mat-card class="m-2">
      <section class="example-section d-inline">
        <mat-checkbox color="primary" class="example-margin m-2" formControlName="purma">PURMA</mat-checkbox>
      </section>
      <section class="example-section d-inline">
        <mat-checkbox color="primary" class="example-margin m-2" formControlName="nntm">NNTM</mat-checkbox>
      </section>
      <section class="example-section d-inline">
        <mat-checkbox color="primary" class="example-margin m-2" formControlName="pdb">PDB</mat-checkbox>
      </section>
      <section class="example-section d-inline">
        <mat-checkbox color="primary" class="example-margin m-2" formControlName="dsart">DSART</mat-checkbox>
      </section>
    </mat-card>

    <div class="m-2">
      <mat-form-field class="example-full-width w-100" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="m-2">
      <button mat-raised-button class="mr-1" type="button" (click)="backToList()">
        <mat-icon aria-hidden="false" >clear</mat-icon>
        Close
      </button>
      <button mat-raised-button color="primary" class="ml-1" type="submit" [disabled]="registerForm.invalid">
        <mat-icon aria-hidden="false" >save</mat-icon>
        Save
      </button>
    </div>
  </form>
</mat-card>
